
@media (min-width: 1200px) {
    .center-image {
        max-width: 20vw;
    }
}


@media (min-width: 768px) and (max-width: 1199px) {
    .center-image {
        max-width: 30vw;
    }
}


@media (max-width: 767px) {
    .center-image {
        max-width: 60vw; 
    }
}
